body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centered {
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginCenter {
  height: 100vh; /* Magic here */

  justify-content: center;
  ;
  color:rgb(82, 73, 73);
  box-shadow: 2px 5px rgb(129, 128, 128);
}
.test {
  position:absolute
}
#LoginBox {
  width: 270px;
  height: 360px;
  margin: 10px;
  padding: 10px;
  background:rgb(218, 214, 214) 

}

.ButtonFormat {
  width: 80px;
  height:30px;
  background-color: rgb(206, 201, 201);
  border-color: rgb(184, 179, 179);
  font-family:sans-serif;
  border-radius: 25px;
}

#LoginBox p {
  white-space:pre;
	font-size:large;
	font-family:monospace;

}

#LoginBox  {

  border-radius: 25px;
}

.UserNameTest{
  display: flex;
  justify-content: center;
  font-size:large;
}
.LogInTest{
  display: flex;
  justify-content: center;
  font-size:xx-large
}

.spacer{
  font-size: 0; 
  height: 40px;
  line-height: 0;
}

.spacer2{
  font-size: 0; 
  height: 20px;
  line-height: 0;
}

.Line{
  border-bottom-color: rgb(167, 148, 148);

}